# Towny Flag War's EditorConfig
## Eclipse users need https://github.com/ncjones/editorconfig-eclipse
## NetBeans users need https://github.com/welovecoding/editorconfig-netbeans
## IDEA users have built-in support
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_size = 4
indent_style = space

## Preserve trailing whitespace in markdown, ALWAYS!
[*.{md,markdown}]
trim_trailing_whitespace = false

