# IDEA Specific
/.idea/*
*.iml
# Ensure Copyright information is portable
!/.idea/copyright/
!/.idea/scopes/
# Ensure project is compiled appropriately
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/vcs.xml
# Pre-configure project for users of the IDEA CheckStyle plugin.
!/.idea/checkstyle-idea.xml

# Eclipse Specific
.classpath
.project
.externalToolBuilders

# Ignore the generated dependency-reduced-pom.xml
dependency-reduced-pom.xml

# Prevent Contamination with Compiled Classes, Javadocs, and Binaries
/target

# Javadoc
/doc

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
