name: Maven Compile (JDK 17)
on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java: ['16', '17']
        name: Java ${{ matrix.Java sample }}
        steps:
            - uses: actions/checkout@v2
            - name: Set up Java
              uses: actions/setup-java@v2
              with:
                  distribution: 'temurin'
                  java-version: ${{ matrix.java }}
                  java-package: jdk
            - name: Compile with Maven
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: mvn -B compile test -P checkstyle,javadocs
